/* Site header */
.site-avatar {
    float: left;
    margin-right: $spacing-unit / 2;

    img {
        border-radius: $avatar-unit/2;
        width: $avatar-unit;
        height: $avatar-unit;
    }

    @include media-query($on-palm) {
        display: none;
    }
}

.site-info {
    float: left;
    border: none;
}

.site-name {
    color: $mild-gray;
    cursor: pointer;
    font-weight: $base-font-weight;
    font-size: $base-font-size * 2;
    border: none;
    text-decoration: none;
}

.site-description {
    color: $mild-gray;
    font-size: $base-font-size;
    border: none;
}

.site-header {
    background-color: $header-background;
    font-family: $logo-font-family;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.5);
    
    a:hover {
        text-decoration: none;
        color: $white;
    }
    a:active {
        text-decoration: none;
        background-color: $header-background;
    }
    a:visited {
        text-decoration: none;
    }
}

.wrapper-header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    // height: $base-font-size * 3;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1 1 auto;
    height: $base-font-size * 3;

    padding-right: $spacing-unit;
}

.header-right {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 0 1 auto;
    font-size: $larger-font-size;

    .page-link {
        color: $mild-gray;
        padding: 0px $spacing-unit/6;

        display: flex;
        align-items: center;

        @include media-query($on-palm) {
            padding: $spacing-unit/6;
        }

    }

    .active {
        text-decoration: none;
        color: $white;
        background-color: $black;
    }

    a:hover {
        background-color: $black;
    }

}

/* Site footer */

.site-footer {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    text-align: center;
    font-size: $smaller-font-size;
    color: $gray;
}

.footer-heading {
    @include relative-font-size(9/8);
    margin-bottom: $spacing-unit / 2;
}

/* Default */

.default-content {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit / 2;

    flex: 1;

    font-size: $content-font-size;
}

/* Page */

.page-content {
    text-align: justify;

    @include media-query($on-palm) {
        text-align: left;
    }
}

.page-title {
    border-bottom: 0px;
}

.page-header {
    margin-bottom: $spacing-unit / 2;
}

/* Posts */

.posts>.post {
    padding-bottom: 2em;
    border-bottom: 1px solid $light-gray;
}

.posts>.post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post {

    .comments {
        margin-top: 10px;
    }

    .date {
        font-style: italic;
        color: $gray;
    }
}

/* home page */

section {
    margin: 0 auto $spacing-unit auto;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: $spacing-unit/1.5 0;

            .title {
                max-width: 100%;
                //overflow: hidden !important;
                //text-overflow: ellipsis !important;
                //white-space: nowrap !important;
                word-wrap: normal !important;
            }

            a {
                text-decoration: none;
                border: 0;
                color: $black;
                box-sizing: border-box;
            }
            a:visited {
                color: $black;
            }

            .post-date {
                float: left;
                margin: 0 $spacing-unit/2 0 $spacing-unit/6;
            }

            span {
                display: inline-block;
                color: $gray;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            @media (min-width: $content-width) {
                a {
                    background-image: linear-gradient($yellow, $yellow);
                    background-repeat: no-repeat;
                    background-size: 0px 100%;
                    background-position: 0px 100%;
                    transition: background-size .3s ease-out;

                    &:hover {
                        text-decoration: none;
                        color: $black;
                        background-size: 100% 100%;
                    }
                }
            }

            @include media-query($on-laptop) {
                a {
                    color: $blue;
                }
                a:visited {
                    color: $blue;
                }
            }
            
            &::before {
                content: none;
            }
        }
    }
}

/* tools page*/

div.tool-md5 {
    width: 100%;
    .row {
        padding-top: $spacing-unit / 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1 1 auto;
        justify-content: space-around;
    }
    textarea.form-control {
        height: $base-font-size * 15;
        padding: $spacing-unit/6 $spacing-unit/3;
        width: 100%;
        display: block;
        background-color: $white;
        background-image: none;
        border: 1px solid $gray;
        border-radius: 4px;
        box-shadow: 0 1px 1px $lighter-gray;
    }
    
}