<div class="right">
    <div class="side-wrap">
        <nav class="side-content">
            <div class="side-content-title">{{ include.display | default: "目录" }}</div>
            <div class="side-content-body">
                <ul id="content-side" class="content-ul"></ul>
                <div class="side-content-footer">
                    <a class="side-comments-link" href="#comments">评论区</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<script src="{{ "/assets/js/postContent.js" | prepend: site.baseurl }}" charset="utf-8"></script>
