<script async type="text/javascript" src="/assets/js/md5.js"></script>
<script>
    function isEmpty(obj) {
        if (typeof obj == "undefined" || obj == null || obj == "") {
            return true;
        } else {
            return false;
        }
    }

    function MyMD5(k) {
        var button_name = k;
        var txtInput = document.getElementById("input").value;

        if (isEmpty(txtInput)) {
            alert("输入框是空的");
            return;
        }
        var arry = txtInput.trim().split('\n');
        var output = [];
        for (var i = 0; i < arry.length; i++) {
            if (isEmpty(arry[i])) {
                output.push("");
            } else {
                var temp_md5 = CryptoJS.MD5(arry[i]).toString();
                if (button_name == "16lower") {
                    output.push(temp_md5.substring(8, 24));
                }
                else if (button_name == "16upper") {
                    output.push(temp_md5.substring(8, 24).toUpperCase());
                }
                else if (button_name == "32lower") {
                    output.push(temp_md5);
                }
                else if (button_name == "32upper") {
                    output.push(temp_md5.toUpperCase());
                }
            }

        }
        document.getElementById('md5-output').value = output.join("\n");
    };

</script>

<h2>MD5</h2>

<h4>MD5批量加密，每行分别加密</h4>
<div class="tool-md5">

    <div class="row">
        <textarea id="input" class="form-control" placeholder="待加密区域，一行一个分别加密"></textarea>
    </div>

    <div class="row">
        <button class="btn-try" id="32lower" type="submit"
            onclick="MyMD5('32lower')">32位MD5加密(小写)</button>
        <button class="btn-try" id="32upper" type="submit"
            onclick="MyMD5('32upper')">32位MD5加密(大写)</button>
        <button class="btn-try" id="16lower" type="submit"
            onclick="MyMD5('16lower')">16位MD5加密(小写)</button>
        <button class="btn-try" id="16upper" type="submit"
            onclick="MyMD5('16upper')">16位MD5加密(大写)</button>
    </div>

    <div class="row">
        <textarea id="md5-output" class="form-control" placeholder="结果区域"></textarea>
    </div>

</div>