---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% include analytics.html %}

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% if site.mathjax %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    {% endif %}

    {% include ads.html %}

    {% feed_meta %}
    {% seo %}

  </head>

  <body>

    {% include header.html %}

    <main class="default-content" aria-label="Content">
      <div class="wrapper-content">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
