---
layout: compress
published: true
show_footer: true
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% include gtm-head.html %}

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include ads.html %}

    {% feed_meta %}
    {% seo %}

  </head>

  <body>

    {% include gtm-body.html %}

    {% include header.html %}

    {{ content }}

    {% if page.show_footer %}
      {% include footer.html %}
    {% endif %}

  </body>
</html>
