---
layout: default
---

<main class="default-content" aria-label="内容区">
  <div class="wrapper-content">

    <article class="post">
      <div class="left">
        <h1>{{ page.title }}</h1>
        <div class="label">

          <div class="label-date">
            {{ page.date | date: "%Y-%m-%d" }}
          </div>

          <div class="label-category">
            {% include category-inline.html %}
          </div>

          <div class="label-tag">
            {% include tag-inline.html %}
          </div>

        </div>

        <div class="entry">
          {{ content }}
        </div>

        {% include disqus.html %}

      </div>

      {% if page.toc %}
      {% include contents.html display="目录" %}
      {% endif %}

      {% if page.mathjax  %}
      {% include mathjax.html %}
      {% endif %}

    </article>

  </div>
</main>